/**
* Main DO List and Card
**/
#stackdo {

    .todo-list {
        //padding-left: 14px;  // todo: timeline left

        .task {
            //color: #ffffff;
            margin:       3px;
            box-shadow:   0 1px 2px rgba(0, 0, 0, .13);
            position:     relative;
            border-style: solid;
            border-width: 0 2px;
            transition:   background 0.3s cubic-bezier(0.4, 0, 0.2, 1);

            .item {
                padding:    2px 16px;
                background: none;
                border:     none;
                color:      inherit;
            }

            .item-divider {
                padding:  0;
                //min-height: 0;
                overflow: visible;
                z-index:  3;

                .item-checkbox {
                    padding-top:   7px;
                    padding-right: 40px;
                    overflow:      visible;

                    .checkbox {
                        top:   20px;
                        left:  auto;
                        right: 0;
                    }
                }
            }

            // Info Icons
            .item-text-wrap {
                font-size:      11px;
                padding-bottom: 8px;
                color:          #8c8c8c;

                & > * {
                    &:not(:first-child) { padding-left: 10px; }

                    i:before { padding-right: 2px; }
                }

                .text-center { display: block; }

                .duration { }
                .prio { width: 28px; min-width: 28px;
                    i:before { margin-right: -0.03em; }
                }
                .date { }

                // set heigth by duration
            }
        }
    }

    /**
    * Card task properties
    **/
    @mixin priority($color) {
        &.prio1 { border-color: mix(white, $color, 30% );}
        &.prio2 { border-color: mix(white, $color, 15% );}
        &.prio3 { border-color: $color;}
    }

    // flat brights: flatcolors.net/palette/259-flat-brights#
    .color-red    { @include priority(#ee5f5b); }
    .color-blue   { @include priority(#5bc0de); }
    .color-orange { @include priority(#f89406); }
    .color-green  { @include priority(#62c462); }
    .color-yellow { @include priority(#fff457); color: #4c4c4c !important; }
    // flat web color: flatcolors.net/palette/617-flat-web-color-set
    .color-purple { @include priority(#BE90D4); }
    .color-cyan   { @include priority(#5AD4BC); }

    // Set individual card heights by time needed
    .duration2 > .item-divider { min-height: 35px;}
    .duration3 > .item-divider { min-height: 45px;}
    .duration4 > .item-divider { min-height: 54px;}
    .duration5 > .item-divider { min-height: 62px;}
    .duration6 > .item-divider { min-height: 69px;}
    .duration7 > .item-divider { min-height: 75px;}

    .card.done { background-color: #e7e7e7; }
}
