/* StackDO. Sass */

/** Cheat sheet
SASS: (syntactically awesome) indented syntax, no brackets, no semicolon
SCSS: (sassy css)

$font-stack:    Helvetica, sans-serif;

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}
.box { @include border-radius(10px); }


width: 600px / 960px * 100%;

Nested Properties:
.funky {
  font: {
    family: fantasy;
    size: 30em;
    weight: bold;
  }
}
**/

// from creator html
.platform-ios .manual-ios-statusbar-padding {
    padding-top: 20px;
}

.manual-remove-top-padding {
    padding-top: 0;
}

.manual-remove-top-padding .scroll {
    padding-top: 0 !important;
}



#stackdo {

    /** Elements **/


    // Task Color set on cards
    @mixin priority($color) {
        &.prio1 { border-color: mix(white, $color, 30% );}
        &.prio2 { border-color: mix(white, $color, 15% );}
        &.prio3 { border-color: $color;}
    }

    // flat brights: flatcolors.net/palette/259-flat-brights#
    .color-red    { @include priority(#ee5f5b); }
    .color-blue   { @include priority(#5bc0de); }
    .color-orange { @include priority(#f89406); }
    .color-green  { @include priority(#62c462); }
    .color-yellow { @include priority(#fff457); color: #4c4c4c !important; }
    // flat web color: flatcolors.net/palette/617-flat-web-color-set
    .color-purple { @include priority(#BE90D4); }
    .color-cyan   { @include priority(#5AD4BC); }

    // Set individual card heights by time needed
    .duration2 > .item-divider { min-height: 35px;}
    .duration3 > .item-divider { min-height: 45px;}
    .duration4 > .item-divider { min-height: 54px;}
    .duration5 > .item-divider { min-height: 62px;}
    .duration6 > .item-divider { min-height: 69px;}
    .duration7 > .item-divider { min-height: 75px;}

    .card.done { background-color: #e7e7e7; }


    // fix Icon sizes
    .button-icon {
        .ion-plus, &.ion-plus, .ion-close, &.ion-close {
            &:before {
                font-size: 24px;
            }
        }
    }

    .checkbox input:before, .checkbox-icon:before {
        border-radius: 1px;
    }

    /** Modules **/

    // Header
    .menu-content .bar-header {
        .title {
            margin-left: -16px;
            font-size:   20px;
            line-height: 42px;
        }

        .menu-button {
            &:after { right: -35px; }

            &.activated { opacity: 1; }

            .icon{
                //overflow: hidden;
                position: relative;
                display: block;
                width: 18px;
                height: 15px;

                &:before {
                    overflow: hidden;
                    width: 16px;
                    line-height: 16px;
                    padding: 0;
                    transition: transform 0.3s ease-out;
                }
            }
        }
    }
    &.menu-open .menu-button .icon:before {
        transform: rotate(90deg);
    }

    .scroll-content:not(.no-bg) {
        background: #f1f1f1;
    }

    /**
    * Main DO List
    **/
    .todo-list {
        //padding-left: 14px;  // todo: timeline left

        .task {
            //color: #ffffff;
            margin: 3px;
            box-shadow: 0 1px 2px rgba(0,0,0,.13);
            position: relative;

            border-style: solid;
            border-width: 0 2px;
            transition: background 0.3s cubic-bezier(0.4, 0, 0.2, 1);

            .item {
                padding: 2px 16px;
                background: none;
                border: none;
                color: inherit;
            }

            .item-divider {
                padding:    0;
                //min-height: 0;

                overflow: visible;
                z-index: 3;

                .item-checkbox {
                    padding-top: 7px;
                    padding-right: 40px;
                    overflow: visible;

                    .checkbox {
                        top: 20px;
                        left: auto;
                        right: 0;


                    }
                }
            }

            .item-text-wrap { // info
                font-size: 11px;
                padding-bottom: 8px;
                color: #8c8c8c;

                & > * {
                    &:not(:first-child){padding-left: 10px; }

                    i:before { padding-right: 2px; }
                }

                .text-center { display: block; }

                .duration { }
                .prio { width: 28px; min-width: 28px;
                    i:before { margin-right: -0.03em; }
                }
                .date {  }

                // set heigth by duration
            }
        }
    }

    // todo: timeline left
    .menu-left .title-left {
        margin-left: 10px;
    }



    /**
    * new Task input modal: form inputs
    **/
    form {
        .row {
            padding: 0 0 0 (16 - 5px);
            background: #ffffff;

            .item.item-input.col-67 {
                padding-right: 5px;
            }
        }

        .item {
            display: block;
            border: none;
            padding-bottom: 10px;

            &.item-input {
                padding-right: 16px;

                input {
                    padding-right: 0;
                    border-bottom: 1px solid #dddddd;

                    &.ng-invalid { border-bottom-color: #ee5f5b; }
                    &:focus { border-bottom: 1px solid #aaaaaa; }
                }
            }
        }

        // input range slider
        .range {
            padding: 2px 16px;

            .range-wrapper {
                padding-left: 5px;
                display: flex;
                align-items: center;
                margin-top: -10px;
                //max-width: 350px;
            }

            .range-label {
                flex: 0;
                padding: 0;
                color: #989899;
                font-size: 11px;
                display: block;
                width: 30px;
            }
        }

        // Date inputs
        input[type="date"] {
            min-width: 130px;
        }

        .input-label {
            padding: 0 16px 0 0;
            margin-bottom: -7px;
            color: #989899;
            font-size: 11px;
            display: block;

            & + input {
                padding-left: 5px;
            }
        }



    }

}


