# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore


# User-specific stuff:
.idea

# ignore bower and node packages
/www/lib
node_modules/

platforms/
plugins/
