<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>StackDO</title>

    <link href="css/ionic.app.css" rel="stylesheet">

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <script src="lib/ionic-platform-web-client/dist/ionic.io.bundle.min.js"></script>

    <script src="lib/angular-local-storage/dist/angular-local-storage.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/services-factory.js"></script>
    <script src="js/directives.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>

</head>

<body ng-app="app" ng-controller="TodoCtrl" id="stackdo">

<ion-side-menus>

<!-- MAIN content ---------------- -->
    <ion-side-menu-content>
        <ion-header-bar align-title="left" class="bar-dark">
            <!-- toggl sidebar -->
            <button class="button button-icon menu-button" ng-click="toggleCategories()">
                <i class="icon ion-navicon"></i>
            </button>

            <h1 class="title">DO</h1> <!--{{activeCategories.title}}-->

            <!-- New Task button-->
            <button class="button button-icon" ng-click="newTask()">
                <i class="icon ion-plus"></i>
            </button>
        </ion-header-bar>

        <ion-content>
            <!-- our list and list items -->
            <div class="todo-list">

                <div class="card task color-red prio{{task.prio}} duration{{getCardHeight(task.duration)}}"
                     ng-class="{'done': task.done}"
                     on-double-tap="editTask(task)"
                     ng-repeat="task in activeCategories.tasks"> <!-- {{category.color}} -->

                    <!--<pre>{{task}}</pre>-->

                    <div class="item item-divider">
                        <ion-checkbox ng-model="task.done" ng-click="doneTask(task)">{{task.title}}</ion-checkbox>
                    </div>

                    <div class="item item-text-wrap row">
                        <div class="duration">
                            <i class="ion-android-time text-center">{{task.duration}}h</i>
                        </div>

                        <div class="prio">
                            <!--todo: save getPrio to var-->
                            <i class="ion-alert" ng-repeat="i in getPrio(task.prio) track by $index"></i>
                        </div>

                        <div class="date">
                            <!-- TODO: print time left-->
                            <i class="ion-android-calendar text-center"> {{task.dueDate|date}} &nbsp;{{task.dueTime|date:"H:mm"}}</i>
                        </div>


                        <div class="points">
                            <b> <i class="ion-pound text-right">{{task.points}}</i></b>
                        </div>
                    </div>
                </div>

            </div>
        </ion-content>

    </ion-side-menu-content>



 <!-- Left MENU --------------------------- -->
    <ion-side-menu side="left">
        <ion-header-bar align-title="left" class="bar-dark">
            <h1 class="title">Category</h1>
            <button class="button button-icon ion-plus" ng-click="newCategory()">
            </button>
        </ion-header-bar>
        <ion-content scroll="false">
            <ion-list>
                <ion-item ng-repeat="category in categories" ng-click="selectCategory(category, $index)" ng-class="{active: activeCategories == category}" class="color-red"> <!-- {{category.color}} -->
                    {{category.title}}
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>



<!-- NEW Task input modal ------------------- -->
    <script id="new-task.html" type="text/ng-template">
        <div class="modal new-task">

            <!-- Modal header bar -->
            <ion-header-bar align-title="left" class="bar-secondary">
                <h1 class="title" >New Task</h1>
                <button class="button button-icon ion-close" ng-click="closeNewTask()"></button>
            </ion-header-bar>

            <!-- Modal content area -->
            <ion-content class="no-bg">

                <form ng-submit="saveTask(task)">
                    <div class="list ">
                        <label class="item item-input">
                            <input type="text" placeholder="Titel" ng-model="task.title" autofocus required="required">
                        </label>

                        <!--TODO: Description-->

                        <div class="row">

                            <ion-item class="range range-positive col col-67">
                                <span class="input-label">Priority</span>
                                <div class="range-wrapper">
                                    <span class="range-label left">low</span>
                                    <input type="range" min="1" max="3" name="priority" ng-init="task.prio = 2" ng-model="task.prio">
                                    <span class="range-label right">high</span>
                                </div>
                            </ion-item>

                            <label class="item item-input col">
                                <span class="input-label">Duration h</span>
                                <input type="number" min="0" step="any" ng-model="task.duration">
                            </label>

                        </div>
                        <div class="row row-bottom">

                            <label class="item item-input col col-67">
                                <span class="input-label">Due Date</span>
                                <input type="date" min="{{today}}" ng-model="task.dueDate">
                            </label>

                            <label class="item item-input col">
                                <span class="input-label"></span>
                                <input type="time" placeholder="" ng-model="task.dueTime" striped-time>
                            </label>

                        </div>

                        <!--TODO: Repeating Dropdown: eimalig, täglich -->

                    </div>
                    <div class="padding">
                        <button type="submit" class="button button-block button-positive">Create Task</button>
                    </div>
                </form>

            </ion-content>

        </div>
    </script>


</ion-side-menus>
</body>


</html>
